body{
	height:85vh;
	display:flex;
	flex-direction: column;
	align-content: center;
	background-image:url('bg.jpg');
}
#container{
	margin:auto;
	background-color:white;
	width:700px;
	border-radius:3px;
	display:flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 2px grey;
}
#text{
	width:600px;
	text-align: justify;
	user-select: none;
}
h1{
	margin:30px;
	font-weight:lighter;
}
textarea{
	width:600px;
	height:150px;
	border-radius:3px;	
}
#results{
	width:600px;
	margin:auto;
}
#mybutton{
	color:white;
}